!!!base config

set template ME1DC-Template config network profiles interface-management-profile Mgmt http no
set template ME1DC-Template config network profiles interface-management-profile Mgmt https yes
set template ME1DC-Template config network profiles interface-management-profile Mgmt http-ocsp no
set template ME1DC-Template config network profiles interface-management-profile Mgmt ssh yes
set template ME1DC-Template config network profiles interface-management-profile Mgmt snmp yes
set template ME1DC-Template config network profiles interface-management-profile Mgmt userid-service no
set template ME1DC-Template config network profiles interface-management-profile Mgmt ping yes
set template ME1DC-Template config network profiles interface-management-profile Mgmt response-pages no
set template ME1DC-Template config network profiles interface-management-profile Mgmt telnet yes
set template ME1DC-Template config network profiles interface-management-profile Ping-only ping yes
set template ME1DC-Template config network profiles interface-management-profile Ping-Response-Pages ping yes
set template ME1DC-Template config network profiles interface-management-profile Ping-Response-Pages response-pages yes


set template ME1DC-Template config network virtual-router Default_VR protocol bgp router-id 110.145.144.118
set template ME1DC-Template config network virtual-router Default_VR protocol bgp routing-options as-format 4-byte
set template ME1DC-Template config network virtual-router Default_VR protocol bgp local-as 136604
set template ME1DC-Template config network virtual-router Default_VR protocol bgp reject-default-route no
set template ME1DC-Template config network virtual-router Default_VR protocol bgp routing-options graceful-restart enable yes
set template ME1DC-Template config network virtual-router Default_VR protocol bgp enable yes



set template ME1DC-Template config network virtual-router Default_VR protocol bgp redist-rules 168.186.0.0/16 enable yes
set template ME1DC-Template config network virtual-router Default_VR protocol bgp redist-rules 168.186.0.0/16 set-origin incomplete
set template ME1DC-Template config network virtual-router Default_VR protocol bgp install-route yes
set template ME1DC-Template config network virtual-router Default_VR protocol bgp allow-redist-default-route yes
set template ME1DC-Template config network virtual-router Default_VR protocol rip enable no
set template ME1DC-Template config network virtual-router Default_VR protocol ospf enable no
set template ME1DC-Template config network virtual-router Default_VR protocol ospfv3 enable no

set template ME1DC-Template config vsys vsys1 import network virtual-router Default_VR


set template ME1DC-Template config network profiles monitor-profile default interval 3
set template ME1DC-Template config network profiles monitor-profile default threshold 5
set template ME1DC-Template config network profiles monitor-profile default action wait-recover
set template ME1DC-Template config network profiles interface-management-profile Mgmt http no
set template ME1DC-Template config network profiles interface-management-profile Mgmt https yes
set template ME1DC-Template config network profiles interface-management-profile Mgmt http-ocsp no
set template ME1DC-Template config network profiles interface-management-profile Mgmt ssh yes
set template ME1DC-Template config network profiles interface-management-profile Mgmt snmp yes
set template ME1DC-Template config network profiles interface-management-profile Mgmt userid-service no
set template ME1DC-Template config network profiles interface-management-profile Mgmt ping yes
set template ME1DC-Template config network profiles interface-management-profile Mgmt response-pages no
set template ME1DC-Template config network profiles interface-management-profile Mgmt telnet yes
set template ME1DC-Template config network profiles interface-management-profile Ping-only ping yes
set template ME1DC-Template config network profiles interface-management-profile Ping-Response-Pages ping yes
set template ME1DC-Template config network profiles interface-management-profile Ping-Response-Pages response-pages yes
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood tcp-syn enable yes
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood tcp-syn red alarm-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood tcp-syn red activate-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood tcp-syn red maximal-rate 40000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood udp enable yes
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood udp red alarm-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood udp red activate-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood udp red maximal-rate 40000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood icmp enable yes
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood icmp red alarm-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood icmp red activate-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood icmp red maximal-rate 40000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood other-ip enable yes
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood other-ip red alarm-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood other-ip red activate-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood other-ip red maximal-rate 40000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood icmpv6 red alarm-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood icmpv6 red activate-rate 10000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood icmpv6 red maximal-rate 40000
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect flood icmpv6 enable no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect scan 8001 action alert 
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect scan 8001 interval 2
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect scan 8001 threshold 100
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect scan 8002 action alert 
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect scan 8002 interval 10
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect scan 8002 threshold 100
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect scan 8003 action alert 
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect scan 8003 interval 2
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect scan 8003 threshold 100
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect ipv6 routing-header yes
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect ipv6 ipv4-compatible-address no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect ipv6 multicast-source yes
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect ipv6 anycast-source yes
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect suppress-icmp-timeexceeded no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect suppress-icmp-needfrag no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-icmp-ping-zero-id no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-icmp-frag no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-icmp-large-packet no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect tcp-reject-non-syn global
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-ip-spoof yes
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-ip-frag no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-overlapping-tcp-segment-mismatch no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-strict-source-routing no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-loose-source-routing no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-timestamp no
set template ME1DC-Template config network profiles zone-protection-profile Basic-Protect discard-record-route no

set template ME1DC-Template config vsys vsys1 zone Untrust network zone-protection-profile Basic-Protect


!!!end base config




{% for templates in config.templatesg %}



{% set interfaces = templates.interfaces %}


{% set aggregates = interfaces.aggregates %}
{% for unit in aggregates.unitsg %}
set template ME1DC-Template config network interface aggregate-ethernet {{unit.agg_name}} layer3 units {{unit.name}} tag {{unit.tag}}
set template ME1DC-Template config network interface aggregate-ethernet {{unit.agg_name}} layer3 units {{unit.name}} ipv6 neighbor-discovery router-advertisement enable no
set template ME1DC-Template config network interface aggregate-ethernet {{unit.agg_name}} layer3 units {{unit.name}} ndp-proxy enabled no
set template ME1DC-Template config network interface aggregate-ethernet {{unit.agg_name}} layer3 units {{unit.name}} ip {{unit.ip_address}}{{unit.cidr_mask}} 
set template ME1DC-Template config network interface aggregate-ethernet {{unit.agg_name}} layer3 units {{unit.name}} interface-management-profile Ping-Response-Pages
set template ME1DC-Template config network interface aggregate-ethernet {{unit.agg_name}} layer3 units {{unit.name}} comment "{{unit.description}}"

set template ME1DC-Template config vsys vsys1 import network interface {{unit.name}}
{% endfor %}


{% for ethernet in interfaces.ethernetg %}
set template ME1DC-Template config network interface ethernet {{ethernet.name}} aggregate-group {{ethernet.aggregate}}
{% endfor %}

{% for zone in templates.zonesg %}
set template ME1DC-Template config vsys vsys1 zone {{zone.name}} network layer3 [ {{' '.join(zone.interfaces)}} ]
{% endfor %}
{% set virtual_router = templates.virtual_router %}

{% for interface in virtual_router.interfacesg %}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} interface {{interface.name}}
{% endfor %}


{% set bgp = virtual_router.bgp %}
{% for peer_group in bgp.peer_groupsg %}
{% endfor %}



{% for peer in bgp.peersg %}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} peer-as {{peer.peer_as}}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} connection-options incoming-bgp-connection allow yes
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} connection-options outgoing-bgp-connection local-port 0
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} connection-options outgoing-bgp-connection allow yes
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} connection-options incoming-bgp-connection remote-port 0
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} connection-options multihop 0
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} connection-options keep-alive-interval 8
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} connection-options open-delay-time 0
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} connection-options hold-time 24
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} connection-options idle-hold-time 15
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} local-address interface {{peer.local_interface}}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} peer-address ip {{peer.peer_address}}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} max-prefixes 5000
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} enable {{peer.enable}}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} reflector-client non-client
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} peer {{peer.name}} peering-type unspecified
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} type ebgp import-nexthop original
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} type ebgp export-nexthop resolve
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} aggregated-confed-as-path yes
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} soft-reset-with-stored-info no
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp peer-group {{peer.peer_group}} enable no	
{% endfor %}
{% for import_rule in bgp.import_rulesg %}

set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy import rules {{import_rule.name}} action allow update extended-community append {{import_rule.ext_community}}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy import rules {{import_rule.name}} action allow update community none 
{% if import_rule.local_pref %}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy import rules {{import_rule.name}} action allow update local-preference {{import_rule.local_pref}}
{% endif %}

set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy import rules {{import_rule.name}} action allow update origin incomplete
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy import rules {{import_rule.name}} action allow update as-path none 
{% if import_rule.match_address %}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy import rules {{import_rule.name}} match address-prefix {{import_rule.match_address}} exact yes
{% endif %}
{% if import_rule.match_as_path %}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy import rules {{import_rule.name}} match as-path regex {{import_rule.match_as_path}}
{% endif %}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy import rules {{import_rule.name}} used-by {{import_rule.used_by}}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy import rules {{import_rule.name}} enable {{import_rule.enable}}
{% endfor %}
{% for export_rule in bgp.export_rulesg %}

set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy export rules {{export_rule.name}} action allow update extended-community none 
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy export rules {{export_rule.name}} action allow update community none 
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy export rules {{export_rule.name}} action allow update as-path prepend {{export_rule.as_path_prepend}}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy export rules {{export_rule.name}} action allow update origin incomplete
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy export rules {{export_rule.name}} used-by {{export_rule.used_by}}
set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy export rules {{export_rule.name}} enable {{export_rule.enable}}

{% endfor %}

{% for match_address in bgp.match_addressesg %}{% if match_address.match_address %}set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy export rules {{match_address.export_rule}} match address-prefix {{match_address.match_address}} exact yes {% endif %}
{% endfor %}
{% for match_peer in bgp.match_peersg %}{% if match_peer.match_peer %}set template ME1DC-Template config network virtual-router {{virtual_router.name}} protocol bgp policy export rules {{match_peer.export_rule}} match from-peer {{match_peer.match_peer}} {% endif %}
{% endfor %}

{% endfor %}

{% for address_object in config.address_objectsg %}{% if address_object.phase==1 %}{% if address_object.device_group|lower=="shared" %}set shared address {{address_object.object_name}} ip-netmask {{address_object.network_address}}
set shared address {{address_object.object_name}} description "{{address_object.description}}"
{% endif %}{% if address_object.device_group|lower!="shared" %}set device-group {{address_object.device_group}} address {{address_object.object_name}} ip-netmask {{address_object.network_address}}
set device-group {{address_object.device_group}} address {{address_object.object_name}} description "{{address_object.description}}"
{% endif %}{% endif %}{% endfor %}
	
		
!!!base config: not template


set device-group ME1DC address-group PA-Mgt-Interfaces static [ RACVNPFW01 RACVNPFW02 RACVNPMGT01 RACVWMFW01 RACVWMFW02 RACVME1FW01 RACVME1FW02 RACVME1MGT01 ]


set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" profile-setting group RACV-Alert
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" target negate no
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" to [ EQME1-Zone-Cloud Trust ]
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" from [ EQME1-Zone-Cloud Trust ]
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" source any
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" destination any
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" source-user any
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" category any
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" application any
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" service any
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" hip-profiles any
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" action allow
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" log-setting AlienVault_Forwarding
set device-group ME1DC pre-rulebase security rules "Allow between Cloud and Trust" disabled no
                 
set device-group ME1DC pre-rulebase security rules Palo-Mgt-Updates from EQME1-Zone-Management
set device-group ME1DC pre-rulebase security rules ASA-Rule-49 to [ Trust EQME1-Zone-Management ]
set device-group ME1DC pre-rulebase security rules ASA-Rule-50 to [ Trust EQME1-Zone-Management ]
set device-group ME1DC pre-rulebase security rules ASA-Rule-44 to [ Trust EQME1-Zone-Management ]
set device-group ME1DC pre-rulebase security rules ASA-Rule-44 destination RACVME1PKT01
set device-group ME1DC pre-rulebase security rules ASA-Rule-44 destination RACVME1RVB01
set device-group WMDC pre-rulebase security rules "Panorama Management" source ME1DC-Panorama
set device-group WMDC pre-rulebase security rules "Panorama Management" destination ME1DC-Panorama

set device-group ME1DC pre-rulebase nat rules NAT_Management_Zone_Outbound from EQME1-Zone-Management
set device-group ME1DC pre-rulebase nat rules NAT_Management_Zone_Outbound source any
set device-group ME1DC pre-rulebase nat rules NAT_Management_Zone_Outbound to Untrust
set device-group ME1DC pre-rulebase nat rules NAT_Management_Zone_Outbound destination any
set device-group ME1DC pre-rulebase nat rules NAT_Management_Zone_Outbound source-translation dynamic-ip-and-port translated-address H-168.186.128.250
set device-group ME1DC pre-rulebase nat rules NAT_Management_Zone_Outbound service any
                 
set device-group ME1DC pre-rulebase nat rules NAT_Trust_Zone_Outbound from Trust
set device-group ME1DC pre-rulebase nat rules NAT_Trust_Zone_Outbound source any
set device-group ME1DC pre-rulebase nat rules NAT_Trust_Zone_Outbound to Untrust
set device-group ME1DC pre-rulebase nat rules NAT_Trust_Zone_Outbound destination any
set device-group ME1DC pre-rulebase nat rules NAT_Trust_Zone_Outbound source-translation dynamic-ip-and-port translated-address 168.186.124.128/25
set device-group ME1DC pre-rulebase nat rules NAT_Trust_Zone_Outbound service any



set template ME1DC-Template config network virtual-router Default_VR protocol bgp redist-rules BGP_Export enable yes
set template ME1DC-Template config network virtual-router Default_VR protocol bgp redist-rules 168.186.0.0/16 enable yes
set template ME1DC-Template config network virtual-router Default_VR protocol bgp redist-rules 168.186.0.0/16 set-origin incomplete

set template ME1DC-Template config network virtual-router Default_VR protocol redist-profile BGP_Export filter type [ connect static ]
set template ME1DC-Template config network virtual-router Default_VR protocol redist-profile BGP_Export priority 1
set template ME1DC-Template config network virtual-router Default_VR protocol redist-profile BGP_Export action redist 

set template ME1DC-Template settings default-vsys vsys1






