conf t
#hostname config
hostname {{ config['hostname'] }}
#vlan config
{% for vlan in config.vlans %}
vlan {{ vlan.id }}
    name "{{ vlan.name }}"
{% endfor %}


#interface config
{% for interface in config['interfaces']%}
interface {{ interface.name }}
    description "{{interface.device}}_{{interface.device_port}}"
    switchport mode {{ interface.mode|lower }}
{%- if interface.mode == "Access" %}
    switchport access vlan {{ interface.vlans }}
{% endif %}
{%- if interface.mode == "Trunk" %}
    switchport trunk allowed vlan {{ interface.vlans }}
{% endif %}
{% endfor %}



